<div class="footer">
  <div
    *ngIf="router.url !== '/contact'; else contactFooter"
    class="footer-container"
  >
    <div>
      <div class="item" *ngFor="let text of texts">
        <img class="icon" [src]="'icons/' + text.icon" [alt]="text.alt" />
        <span
          ><b><span style="letter-spacing: 3px; font-weight: 800;">{{ text.title }}</span>:</b> <span style="font-weight: 400; letter-spacing: 1px; margin-left: 1rem;">{{ text.text }}</span>
        </span>
      </div>
    </div>
    <div class="footer-logo">
      <img style="padding-bottom: 1.5rem;" width="105px" src="logo1.png" alt="Logo" />
      <span>Estudio Pedreira</span>
      <span>Felix Pedreira</span>
    </div>
  </div>
  <ng-template #contactFooter>
    <div class="contact-footer">
      <div>
        Proporcionamos servicios de asesoramiento altamente especializado a
        clientes, tanto nacionales como internacionales, con un enfoque dedicado
        a garantizar el más alto estándar de calidad y excelencia en cada
        aspecto de nuestro trabajo. Nuestra misión es ofrecer un nivel de
        sofisticación y profesionalismo que supere las expectativas, asegurando
        que cada cliente reciba soluciones a medida que cumplan con los
        estándares más rigurosos.
      </div>
    </div>
  </ng-template>
</div>
