.footer {
  font-family: "latoRegular";
  background-color: #002366;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 3rem;

  .item {
    padding: 1rem 0;

    .icon {
      margin-right: 1rem;
    }
  }
}

.footer-logo {
  font-family: "pontoSans";
  font-weight: 400;
  font-size: 25px;
  line-height: 32.03px;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact-footer {
  font-family: "latoRegular";
  font-size: 23px;
  text-align: center;
  padding: 0 6rem;
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column-reverse;
  }
  .contact-footer {
    padding: 0;
  }
}
