<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div
      *ngFor="let image of images; let i = index"
      [ngClass]="{ 'carousel-item': true, active: i === 0 }"
    >
      <div class="row justify-content-center">
        <div class="col-12 col-md-4">
          <img
            height="233px"
            [src]="image.image"
            class="d-block w-100"
            alt="carousel image"
          />
          <p class="events-date">{{ image.date }}</p>
          <p class="event-description">{{ image.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <i style="font-size: 50px" class="arrow left"></i>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <i style="font-size: 50px" class="arrow right"></i>
  </button>
</div>
