<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let image of images; let i = index" 
         [ngClass]="{'carousel-item': true, 'active': i === 0}">
      <div class="row justify-content-center">
        <div class="col-12 col-md-4">
          <img height="233px" [src]="image" class="d-block w-100" alt="carousel image">
          <p class="events-date">10 ABRIL, 2017</p>
          <p class="event-description">Evento internacional Eureseau realizado en Paris</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span> -->
    <i style="font-size: 50px" class="arrow left"></i>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span> -->
    <i style="font-size: 50px" class="arrow right"></i>
  </button>
</div>
