@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

/* ------- customize primary button color -------- */
$mynewcolor: #002366;

.btn {
  font-family: "latoRegular";
  width: 248px;
  color: white;
  margin: 2rem 0;
}

.btn-primary {
  @include button-variant(
    $mynewcolor,
    darken($mynewcolor, 7.5%),
    darken($mynewcolor, 10%),
    lighten($mynewcolor, 5%),
    lighten($mynewcolor, 10%),
    darken($mynewcolor, 30%)
  );
}

.btn-outline-primary {
  @include button-outline-variant(
    $mynewcolor,
    #222222,
    lighten($mynewcolor, 5%),
    $mynewcolor
  );
}

.header {
  background-color: #002366;
  color: white;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: end;
  font-family: "prozaLibre";
  font-size: 35px;
}

.welcome-title {
  font-family: "prozaLibre";
  font-size: 25px;
  border-image: linear-gradient(to right, #b2b2b2 0%, #ffffff 100%) 1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0px;
}

.main-title {
  font-size: 30px;
}

.subtitle {
  font-family: "latoRegular";
  font-size: 20px;
  color: #828282;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.titulares-container {
  padding: 0 4rem;
  background-color: #4682b4;
  font-family: "latoRegular";
  padding-bottom: 10rem;

  .title {
    color: white;
    text-align: center;
    font-family: "prozaLibre";
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 10px;
    padding: 5rem 0;
  }

  .card {
    border-radius: 10px;
    background-color: #ddebff;
    width: 344px;
    height: 381px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about-us-container {
  padding: 0 4rem;
  padding-top: 6rem;
}

.about-us-text {
  padding-left: 7rem;
  // padding-right: 7rem;
  text-align: center;
}

.pictures {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.titular-description {
  background-color: #ddebff;
  border-radius: 20px;
  padding: 3rem;
  margin-top: 5rem;

  .titular-title {
    font-family: "latoRegular";
    font-weight: 400;
    color: black;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 3px;
  }

  .titular-subtitle {
    font-family: "latoRegular";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #4f4f4f;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .description {
    font-family: "adamina";
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2px;
  }
}

.collaborators {
  background-color: rgba(174, 198, 207, 1);
  font-family: "latoRegular";
  padding: 7rem 0;

  .collaborators-title {
    font-size: 24px;
    letter-spacing: 8px;
    padding: 5rem 0;
  }

  .collaborators-container {
    display: flex;
    justify-content: space-between;
    margin: 0 16%;

    .collaborators-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .collaborators-name {
        font-size: 13px;
        letter-spacing: 3px;
      }

      .collaborators-description {
        font-size: 15px;
        margin: 1.5rem 0;
        color: rgba(79, 79, 79, 1);
      }
    }
  }
}

.eureseau-welcome {
  font-family: "pontoSans";
  padding: 12rem 0;

  .eureseau-welcome-title {
    font-size: 22px;
  }

  .eureseau-welcome-text {
    font-size: 18px;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .about-us-text {
    padding-left: 0;
    text-align: left;
  }

  .pictures {
    flex-direction: column;
    .card {
      width: auto;
    }
  }

  .description {
  }

  .collaborators-container {
    flex-direction: column;

    .collaborators-item {
      margin: 2rem 0;
    }
  }

  .eureseau-welcome-text {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
/* Animación de despliegue suave */
.collapse {
  display: none;
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease-out;
}

.collapse.show {
  display: block;
  height: auto;
}

.arrow-container {
  text-align: right;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.bottom {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.top {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
