@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

/* ------- customize primary button color -------- */
$mynewcolor: #002366;

.read-more {
  font-family: "Lato";
  width: 248px;
  color: white;
}

.read-more2 {
  width: 248px;
  height: 42px;
  color: white;
  margin: 2rem 0;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;

  margin-top: -2.25rem;
}

.btn-primary {
  @include button-variant(
    $mynewcolor,
    darken($mynewcolor, 7.5%),
    darken($mynewcolor, 10%),
    lighten($mynewcolor, 5%),
    lighten($mynewcolor, 10%),
    darken($mynewcolor, 30%)
  );
}

.btn-outline-primary {
  @include button-outline-variant(
    $mynewcolor,
    #222222,
    lighten($mynewcolor, 5%),
    $mynewcolor
  );
}

.header {
  background-color: #002366;
  color: white;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "prozaLibre";
  font-size: 35px;
}

.welcome-title {
  font-family: "prozaLibre";
  font-size: 25px;
  border-image: linear-gradient(to right, #b2b2b2 0%, #ffffff 100%) 1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0px;
}

.main-title {
  font-size: 30px;
}

.subtitle {
  font-family: "Lato";
  font-size: 20px;
  color: #828282;
  font-weight: bold;
  padding-top: 3rem;
  padding-bottom: 7rem;
}

.titulares-container {
  padding: 0 9rem;
  background-color: #4682b4;
  font-family: "Lato";
  padding-bottom: 10rem;

  .title {
    color: white;
    text-align: center;
    font-family: "Lato";
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 10px;

    padding-bottom: 5rem;
    padding-top: 8rem;
    font-weight: bold;
  }

  .card {
    // border-radius: 10px;
    border: 0.5px solid rgba(185, 185, 185, 1);
    box-shadow: 0px 4px 6px 2px rgba(255, 255, 255, 0.25);

    width: 344px;
    height: 432px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }
}

.about-us-container {
  padding: 0 9rem;
  padding-top: 6rem;
}

.about-us-text {
  padding-left: 3rem;
  text-align: center;
  padding-right: 3rem;
  padding-top: 1.25rem;
}

.pictures {
  display: flex;
  justify-content: space-between;
  text-align: center;

  .titular-name {
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 900;
    // margin-top: 1rem;
    text-transform: uppercase;
    max-width: 320px;
  }

  .titular-position {
    margin-top: 1rem;
    max-width: 3200px;
    font-size: 15px;
  }

  .not-selected {
    background: radial-gradient(100% 150% at 50% 0%, #ddebff 0%, #4682b4 50%),
      linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(102, 102, 102, 0.1) 100%
      );
  }

  .selected {
    background: radial-gradient(100% 100% at 50% 0%, #ddebff 30%, #4682b4 135%),
      linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
  }
}
.titular-description {
  background-color: #ddebff;
  border-radius: 20px;
  padding: 3rem;
  margin-top: 5rem;

  .titular-title {
    font-family: "Lato";
    font-weight: 400;
    color: black;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 7px;
    text-transform: uppercase;
  }

  .titular-subtitle {
    font-family: "Lato";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #4f4f4f;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
  }

  .description {
    font-family: "adamina";
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2px;
  }
}

.collaborators {
  background-color: rgba(174, 198, 207, 1);
  font-family: "Lato";
  padding-bottom: 7rem;
  padding-top: 5rem;

  .collaborators-title {
    font-size: 24px;
    letter-spacing: 8px;
    padding-bottom: 5rem;
  }

  .collaborators-container {
    display: flex;
    justify-content: space-between;
    margin: 0 16%;

    .collaborators-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .collaborators-name {
        font-size: 13px;
        font-weight: 900;
        font-family: "Lato";
        letter-spacing: 3px;
      }

      .collaborators-description {
        font-size: 15px;
        margin: 1.5rem 0;
        color: rgba(79, 79, 79, 1);
      }
    }
  }
}

.eureseau-welcome {
  font-family: "Pontano";
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;

  .eureseau-welcome-title {
    font-size: 22px;
  }

  .eureseau-welcome-text {
    font-size: 18px;
    padding-top: 2.5rem;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .titulares-container{
    padding: 3rem 3rem;
  }

  .about-us-container {
    padding: 0 4rem;
    padding-top: 6rem;
  }

  .about-us-text {
    padding-left: 0;
    text-align: left;
  }

  .pictures {
    flex-direction: column;
    .card {
      width: auto;
      margin-bottom: 2rem;
    }
  }

  .collaborators-container {
    flex-direction: column;

    .collaborators-item {
      margin: 2rem 0;
    }
  }

  .eureseau-welcome-text {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
/* Animación de despliegue suave */
.collapse {
  display: none;
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease-out;
}

.collapse.show {
  display: block;
  height: auto;
}

.arrow-container {
  text-align: right;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.bottom {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.top {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
