.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}

.header {
  text-align: center;
  font-size: 16px;
  font-family: "Pontano";
  color: #4b4b4b;
  display: flex;
  justify-content: center;
  align-items: center;

  .text-header {
    padding-right: 2rem;
  }
}

@media (min-width: 992px) {
  .navbar-size {
    justify-content: center;
  }

  .header {
    font-size: 40px;
    text-align: center;
    padding-left: 1rem;
    font-family: "Pontano";
    
    .text-header {
      padding-right: 0;
      padding-left: 1rem;
    }
  }
}

.active {
  font-weight: bold;
}

.nav-item{
  letter-spacing: 3px;
  text-wrap-mode: nowrap;
}