<div class="header">
  <span>Experiencias</span>
</div>

<div class="experiences-container">
  <div
    class="contenedor experience-item text-center"
    [ngClass]="{ closed: !experience.opened }"
    *ngFor="let experience of experiences.slice(0, 3)"
  >
    <div
      class="contenido experience-description"
      [ngClass]="{ closed: !experience.opened }"
    >
      <p>{{ experience.description }}</p>
    </div>
    <div class="btn-experience" (click)="toggleExperience(experience)">
      <div class="btn-shape-container">
        <div class="btn-shape">
          <svg
            viewBox="0 0 100 50"
            preserveAspectRatio="none"
            style="width: 180px; top: -34px; left: 80px"
          >
            <path
              d="M20,30 C35,30 25,20 50,20 C75,20 65,30 80,30 L100,30 L0,30 Z"
              fill="rgba(237, 252, 255, 0.37)"
            />
          </svg>
          <i
            *ngIf="experience.opened"
            style="font-size: 50px; top: 18px"
            class="arrow top"
          ></i>
          <i
            *ngIf="!experience.opened"
            style="font-size: 50px; top: 18px"
            class="arrow bottom"
          ></i>
        </div>

        <div class="btn-shape-description">
          <div class="experience-name">{{ experience.name2 }}</div>
          <div class="experience-place">{{ experience.place2 }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="experiences-container">
  <div
    class="contenedor experience-item text-center"
    [ngClass]="{ closed: !experience.opened }"
    *ngFor="let experience of experiences.slice(3, 5)"
  >
    <div
      class="contenido experience-description"
      [ngClass]="{ closed: !experience.opened }"
    >
      <p>{{ experience.description }}</p>
    </div>
    <div class="btn-experience" (click)="toggleExperience(experience)">
      <div class="btn-shape-container">
        <div class="btn-shape">
          <svg
            viewBox="0 0 100 50"
            preserveAspectRatio="none"
            style="width: 180px; top: -34px; left: 80px"
          >
            <path
              d="M20,30 C35,30 25,20 50,20 C75,20 65,30 80,30 L100,30 L0,30 Z"
              fill="rgba(237, 252, 255, 0.37)"
            />
          </svg>
          <i
            *ngIf="experience.opened"
            style="font-size: 50px; top: 18px"
            class="arrow top"
          ></i>
          <i
            *ngIf="!experience.opened"
            style="font-size: 50px; top: 18px"
            class="arrow bottom"
          ></i>
        </div>

        <div class="btn-shape-description">
          <div class="experience-name">{{ experience.name2 }}</div>
          <div class="experience-place">{{ experience.place2 }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="trust-companies-container">
  <div class="events-title text-center">
    <span>EMPRESAS QUE CONFÍAN EN NOSOTROS</span>
  </div>

  <div class="loop-slide">
    <div>
      <img
        *ngFor="let logo of logos"
        [src]="logo.src"
        [alt]="logo.alt"
      />
      <img
        *ngFor="let logo of logos"
        [src]="logo.src"
        [alt]="logo.alt"
      />
    </div>
  </div>
</div>