.header {
  background-color: #002366;
  color: white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: end;
  font-family: "prozaLibre";
  font-size: 35px;
}

.presentation {
  font-family: "prozaLibre";
  font-size: 20px;
  text-align: center;
  padding: 3rem;
}


@media (min-width: 992px) {
  .presentation {
    padding: 8rem;
  }
}