<div class="header">
  <span>Sobre Nosotros</span>
</div>

<div class="presentation">
  <span
    >Sus miembros poseen amplia experiencia y conocimiento en la evaluación y
    análisis de los problemas jurídico-empresariales.</span
  >
  <br />
  <span
    >Desde el punto de vista de las Entidades Financieras de primera línea y la
    atención integral de Empresas que han tenido que adaptarse a un nuevo
    mercado exigente y competitivo, esto es aplicado al asesoramiento que
    necesitan ya que deben hacer frente a los constantes cambios y tercerización
    de servicios.</span
  >
  <br />
  <span
    >Esto da como resultado la necesidad de apoyo de un equipo de especialistas
    consultores multidisciplinarios.</span
  >
  <br />
  <span
    >Los servicios que ofrece la firma son aquellos orientados a los siguientes
    aspectos:</span
  >
</div>

<div class="cards">
  <app-carousel [data]="data"></app-carousel>
</div>