<div class="header">
  <span>CONTACTO</span>
</div>

<div class="contact-container">
  <div class="contact-card">
    <div>
      <span
        ><b>Dirección:</b> Calle Uruguay Nº 390, piso 15, Of. "F" y "G"
      </span>
      <br />
      <span>C.P. (1015) - Ciudad Autónoma de Buenos Aires, Argentina</span>
      <br />
      <br />
      <span><b>Telefonos:</b> + 54 11 4373-0861 - +54 11 6659-4146 </span>
      <br />
      <br />
      <span><b>E-mail:</b> infoestudiopedreira&#64;gmail.com</span>
    </div>
  </div>
</div>

<!-- <div class="contact-form">
  <div>

    <img width="50%" src="contact/maps.png" alt="maps" />
  </div>
  <div>
    <form>
      <div class="d-flex">
        <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="NOMBRE">
        <label for="floatingInput">NOMBRE</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingPassword" placeholder="APELLIDO">
        <label for="floatingPassword">APELLIDO</label>
      </div>
    </div> -->
    <!-- <div>
      <input type="text" placeholder="EMPRESA" />
      <input type="text" placeholder="CARGO" />
    </div>
    <div>
      <input type="email" placeholder="EMAIL" />
      <input type="text" placeholder="PAIS" />
    </div> -->
      <!-- <textarea placeholder="MENSAJE"></textarea> -->
    <!-- </form>
  </div>
</div> -->

<div class="whatsapp-btn-container">
  <div class="whatsapp-btn-title-container">
      <a href="https://wa.me/1234567890" target="_blank">
      <div class="whatsapp-btn-title">ESCRIBENOS A WHATSAPP</div>
    </a>
    </div>
</div>