.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

/* whatsapp-float-button.component.css */
.whatsapp-float {
  position: fixed;
  bottom: 20px; /* Ajusta según el espacio que desees desde el fondo */
  right: 20px;  /* Ajusta según el espacio que desees desde la derecha */
  z-index: 1000;
}

.whatsapp-float img {
  width: 60px;  /* Ajusta el tamaño del icono según lo necesites */
  height: 60px; 
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
