/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'pontoSans';
  src: url('./assets/pontoSans.ttf');
}

@font-face {
  font-family: 'latoRegular';
  src: url('./assets/Lato-Regular.ttf');
}

@font-face {
  font-family: 'latoRegular';
  font-weight: bold;
  src: url('./assets/Lato-Bold.ttf');
}

@font-face {
  font-family: 'prozaLibre';
  src: url('./assets/ProzaLibre-Regular.ttf');
}

