.separator {
  padding: 5rem 0;
}

.align-section {
  text-align: left;
}

.about-us-title {
  font-family: "pontoSans";
  font-size: 32px;
  font-weight: 400;
  line-height: 41px;
}

.about-us-text {
  font-family: "pontoSans";
  font-weight: 400;
  font-size: 15px;
  line-height: 24.3px;
  margin: 3rem 0rem;
}

.about-us-profile-name {
  font-family: "latoRegular";
  font-weight: 400;
  font-size: 13px;
  line-height: 15.6px;
  letter-spacing: 25%;
}

.about-us-profile-text {
  font-family: "latoRegular";
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  line-height: 24.3px;
  letter-spacing: 0%;
  text-align: center;
  color: #828282;
}

.card-general {
  text-align: left;
  background-color: #002366;
  color: white;
}

.card {
  text-align: center !important;
  width: 82%;
  display: flex;
  justify-self: center;
}

/* Aplica solo a tarjetas con la clase .custom-card */
.custom-card .card-header {
  position: relative;
  //   background-color: #f8f9fa;
}

.custom-card .circle-img {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  /* border: 5px solid white; */
  background-color: #fff;
  /* padding: 5px; */
  border-radius: 50%;
}

.custom-card .circle-img img {
  width: 100px; /* Ajusta el tamaño del círculo */
  height: 100px;
  object-fit: cover;
}

.responsive-adjustment {
  margin-top: 5rem;
}
@media (min-width: 992px) {
  .responsive-adjustment {
    margin-top: 0;
  }
  .card-general {
    display: flex;
  }

  .section-left {
    flex: 4;
    padding-left: 3rem;
  }

  .section-right {
    flex: 2.5;
    //   padding-right: 3rem;
  }
}

.arrow {
  border: solid black;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 20px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carousel {
  padding: 0 9rem;
}

.events-title {
  font-family: "pontoSans";
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.events-date {
  font-family: "latoRegular";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: 5px;
  padding-top: 1rem;
  color: #4f4f4f;
}

.event-description {
  font-family: "latoRegular";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
}

.info-container {
  display: flex;
  color: white;
  flex-direction: row;

  .title {
    font-family: "pontoSans";
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    padding: 3rem 0;
  }

  .description {
    font-family: "pontoSans";
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    padding-bottom: 5rem;
  }

  .resolution {
    background-color: #4682b4;
    flex: 3;
    padding-left: 2rem;

    .description {
      width: 500px;
    }
  }

  .analysis {
    background-color: #6ca0dc;
    flex: 2;
    color: white;
    display: flex;
    flex-direction: column;

    .analysis-top {
      flex: 1;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .analysis-bottom {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

@media (max-width: 767px) {
  .carousel-item .row {
    margin-bottom: 1rem; // Espaciado entre las imágenes en móvil
  }

  .carousel {
    padding: 0 5rem;
  }

  .info-container {
    flex-direction: column;
    .resolution {
      .description {
        width: auto;
      }
    }
  }
}

@media (min-width: 768px) {
  .carousel-item .row {
    margin-bottom: 0; // Sin margen entre las imágenes en desktop
  }
}
