<img width="100%" class="image" src="palacio.jpg" alt="Palacio" />

<div class="separator"></div>

<div class="card text-center">
  <!-- <div class="card-header">Featured</div> -->
  <div class="card-body card-general">
    <div class="section-left">
      <h5 class="card-title align-section about-us-title">Sobre nosotros</h5>
      <p class="card-text align-section about-us-text">
        Somos un estudio internacional de abogados comprometido con brindar
        soluciones legales de excelencia. Con años de experiencia, nuestro
        equipo multidisciplinario trabaja con dedicación y profesionalismo para
        asesorar a clientes en diversas áreas del derecho.
      </p>
      <p class="card-text about-us-text">
        Nos enorgullece ofrecer un servicio personalizado, adaptándonos a las
        necesidades específicas de cada caso y garantizando resultados óptimos.
        Nuestra pasión por la justicia y el compromiso con la ética nos han
        posicionado como referentes en el ámbito legal global.
      </p>
    </div>
    <div class="section-right responsive-adjustment">
      <div class="card custom-card">
        <div>
          <div class="circle-img">
            <img
              src="papa_tere_2_enhanced.png"
              alt="Foto de persona"
              class="img-fluid rounded-circle"
            />
          </div>
        </div>
        <div class="card-body" style="margin-top: 4rem; margin-bottom: 1rem">
          <h5 class="card-title about-us-profile-name">
            DR. JORGE EDUARDO PEDREIRA
          </h5>
          <p class="card-text about-us-profile-text">
            "Valoramos el trabajo en equipo y la dedicación a nuestros clientes.
            Cada caso es un nuevo desafío que afrontamos con ética,
            profesionalismo y el compromiso de ofrecer las mejores soluciones
            legales."
          </p>
          <div class="btn-profile">
            <!-- <a class="link" href="#">VER PERFILES PROFESIONALES</a> -->
            <a
              routerLinkActive="active"
              class="nav-link"
              [routerLink]="['/about-us']"
              >VER PERFILES PROFESIONALES</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="card-footer text-muted">2 days ago</div> -->
</div>

<div class="events-title" style="text-align: center; font-size: 32px">
  Eventos Internacionales
</div>

<div class="carousel">
  <app-carousel [images]="images"></app-carousel>
</div>

<div class="info-container">
  <div class="resolution">
    <div class="title">Resolución Nacional Ley N°9754</div>
    <div class="description">
      La Ley Nacional N°9754 establece un marco regulatorio esencial para la
      protección de derechos y obligaciones en relación a la protección
      ambiental. Esta resolución busca garantizar el cumplimiento de normativas
      a nivel nacional, promoviendo la equidad, transparencia y responsabilidad
      en la gestión de recursos naturales. Su implementación ha sido clave para
      fortalecer la sostenibilidad, y asegura que las partes involucradas actúen
      conforme a principios éticos y legales. La ley también contempla
      mecanismos de supervisión y sanciones para aquellos que no cumplan con sus
      disposiciones.
    </div>
  </div>
  <div class="analysis">
    <div class="analysis-top">
      <div class="title">Análisis de Jurisprudencia</div>
      <div class="description">
        Comentarios sobre fallos judiciales actuales. A través de comentarios de
        expertos, se exploran las implicaciones legales de estos fallos, cómo
        afectan a futuras decisiones judiciales y qué cambios podrían surgir en
        la práctica legal.
      </div>
    </div>
    <div
      class="analysis-bottom"
      style="background-color: #aec6cf; color: white; flex: 1"
    >
      <div class="title">Tecnología y Derecho</div>
      <div class="description">
        Impacto de la IA y la Ciberseguridad en el Ámbito Legal.
      </div>
    </div>
  </div>
</div>
